In [139]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [140]:
base_Sensus = pd.read_csv("../Machine Learning e Data Science com Python de A à Z/Bases de dados/census.csv")

In [141]:
base_credit = pd.read_csv("../Machine Learning e Data Science com Python de A à Z/Bases de dados/credit_data.csv")

In [142]:
X_credit = base_credit.iloc[:, 1:4].values

In [143]:
Y_credit = base_credit.iloc[:, 4].values

In [144]:
""" O problema de se utilizar apenas o labelEncoder é que podemos ter 
muitas categorias e os valores serão diferentes, o problema dessa 
numeração é que, como os algoritmos de aprendizagem de máquina
trabalham com várias operações matemáticas e isso pode fazer com 
que o algoritmo considere números maiores como sendo mais importantes 
que atributos de numeração mais baixa, mesmo isso indicando apenas
a categoria"""

""" Para resolver isso podemos seprar cada coluna em novas categorias, 
por exemplo, existe uma coluna chamada carro e nela temos 3 categorias
, como elas seriam divididas com o labelEncoder em 1, 2 e 3 teriamos o problema
citado, para resolver isso criamos uma coluna para cada categoria, nessa, a
categoria que o objeto se encaixa recebe valor 1 e onde não se encaixa 
recebe 0"""


# Carro
# Gol Pálio Uno
# 1   2     3

#Gol 1 0 0
#Pálio 0 1 0
#Uno 0 0 1

' Para resolver isso podemos seprar cada coluna em novas categorias, \npor exemplo, existe uma coluna chamada carro e nela temos 3 categorias\n, como elas seriam divididas com o labelEncoder em 1, 2 e 3 teriamos o problema\ncitado, para resolver isso criamos uma coluna para cada categoria, nessa, a\ncategoria que o objeto se encaixa recebe valor 1 e onde não se encaixa \nrecebe 0'

In [145]:
len(np.unique(base_Sensus['workclass'])) # Isso implica que teremos 9 novas colunas

9

In [146]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [147]:
onehotencoder_Sencus = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(),[1, 3, 5, 6, 7, 8, 9, 13])], remainder='passthrough')
# remainder='passthrough' serve para não apagar ou outros atributos que não indicamos

In [148]:
X_census = base_Sensus.iloc[:, 0:14].values
Y_census = base_Sensus.iloc[:, 14].values

In [149]:
X_census = onehotencoder_Sencus.fit_transform(X_census).toarray()

In [150]:
X_census[0]

array([0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
       0.0000e+00, 0.0000e+00, 3.9000e+01, 7.7516e+04, 1.3000e+01,
       2.1740e+03, 0.0000e+00, 4.0000e+01])

In [151]:
X_census.shape

(32561, 108)

Escalonamento do Atributos

In [152]:
from sklearn.preprocessing import StandardScaler
scaler_census = StandardScaler()
X_census = scaler_census.fit_transform(X_census)

In [153]:
X_census[0]

array([-0.2444502 , -0.17429511, -0.26209736, -0.01466381, -1.5167923 ,
       -0.18838933, -0.29093568,  4.90769968, -0.02073999, -0.17175325,
       -0.19348662, -0.11609195, -0.07201601, -0.10164955, -0.1422718 ,
       -0.12664495, -0.18406376, -0.21053433,  2.25399324, -0.11334387,
       -0.68994199, -0.23637391, -0.03960742, -0.13419553, -0.53714425,
       -0.39750806, -0.02658695, -0.92284068, -0.11403678,  1.43105786,
       -0.1802846 , -0.17735813, -0.24494366,  2.76348874, -0.01662771,
       -0.37949517, -0.37774555, -0.17745022, -0.20957797, -0.25595432,
       -0.33554133, -0.06780164, -0.38166338, -0.14260848, -0.35531609,
       -0.17127887, -0.22710355, -0.82533335,  1.70899099, -0.17624972,
       -0.42934582, -0.34403232, -0.22492681, -0.09820087, -0.18155194,
       -0.32576824, -0.09161163,  0.4130197 , -0.70307135,  0.70307135,
       -0.13502327, -0.02416321, -0.06107342, -0.0480488 , -0.04260602,
       -0.05409379, -0.04641598, -0.02933708, -0.05714946, -0.05264698,
       -0.02985682, -0.06500204, -0.02985682, -0.04437806, -0.03678503,
       -0.00554189, -0.01998525, -0.02479131, -0.01998525, -0.05550333,
       -0.03636406, -0.02715919, -0.04740236, -0.04993839, -0.04367781,
       -0.02351838, -0.1419344 , -0.03233087, -0.02073999, -0.03087016,
       -0.07821827, -0.04296623, -0.03372864, -0.05927412, -0.01920091,
       -0.0496284 , -0.03960742, -0.02351838, -0.02416321,  0.34095391,
       -0.04540836, -0.02217266,  0.03067056, -1.06361075,  1.13473876,
        0.1484529 , -0.21665953, -0.03542945])

Bases de Treinamento e teste

Credito

In [154]:
from sklearn.model_selection import train_test_split

In [155]:
base_credit2 = base_credit.drop('age', axis=1)
base_credit2

      clientid        income         loan  default
0            1  66155.925095  8106.532131        0
1            2  34415.153966  6564.745018        0
2            3  57317.170063  8020.953296        0
3            4  42709.534201  6103.642260        0
4            5  66952.688845  8770.099235        1
...        ...           ...          ...      ...
1995      1996  59221.044874  1926.729397        0
1996      1997  69516.127573  3503.176156        0
1997      1998  44311.449262  5522.786693        1
1998      1999  43756.056605  1622.722598        0
1999      2000  69436.579552  7378.833599        0

[2000 rows x 4 columns]

In [156]:
base_credit3 = base_credit.drop((base_credit[base_credit['age'] < 0]).index)
base_credit3

      clientid        income        age         loan  default
0            1  66155.925095  59.017015  8106.532131        0
1            2  34415.153966  48.117153  6564.745018        0
2            3  57317.170063  63.108049  8020.953296        0
3            4  42709.534201  45.751972  6103.642260        0
4            5  66952.688845  18.584336  8770.099235        1
...        ...           ...        ...          ...      ...
1995      1996  59221.044874  48.518179  1926.729397        0
1996      1997  69516.127573  23.162104  3503.176156        0
1997      1998  44311.449262  28.017167  5522.786693        1
1998      1999  43756.056605  63.971796  1622.722598        0
1999      2000  69436.579552  56.152617  7378.833599        0

[1997 rows x 5 columns]

In [157]:
base_credit3.loc[base_credit3['age'] < 0]

Empty DataFrame
Columns: [clientid, income, age, loan, default]
Index: []

In [158]:
mean = base_credit['age'][base_credit['age'] > 0].mean()
base_credit.loc[base_credit['age'] < 0, 'age'] = mean
base_credit.head(27)

    clientid        income        age         loan  default
0          1  66155.925095  59.017015  8106.532131        0
1          2  34415.153966  48.117153  6564.745018        0
2          3  57317.170063  63.108049  8020.953296        0
3          4  42709.534201  45.751972  6103.642260        0
4          5  66952.688845  18.584336  8770.099235        1
5          6  24904.064140  57.471607    15.498598        0
6          7  48430.359613  26.809132  5722.581981        0
7          8  24500.141984  32.897548  2971.003310        1
8          9  40654.892537  55.496853  4755.825280        0
9         10  25075.872771  39.776378  1409.230371        0
10        11  64131.415372  25.679575  4351.028971        0
11        12  59436.847123  60.471936  9254.244538        0
12        13  61050.346079  26.355044  5893.264659        0
13        14  27267.995458  61.576776  4759.787581        0
14        15  63061.960174  39.201553  1850.369377        0
15        16  50501.726689  40.927700  3977.287432        0
16        17  43548.654711  39.574530  3935.544453        0
17        18  43378.175194  60.848318  3277.737553        0
18        19  20542.365073  61.690571  3157.442290        0
19        20  58887.357549  26.076093  4965.516066        0
20        21  23000.784002  31.761354  1148.118057        0
21        22  32197.620701  40.927700  4244.057136        0
22        23  23329.319414  48.576975   222.622299        0
23        24  27845.800894  51.970624  4959.921226        0
24        25  65301.984029  48.840922  5465.267886        0
25        26  47451.630123  27.031741  5361.282716        0
26        27  63287.038908  40.927700  9595.286289        0

In [159]:
base_credit.isnull()

      clientid  income    age   loan  default
0        False   False  False  False    False
1        False   False  False  False    False
2        False   False  False  False    False
3        False   False  False  False    False
4        False   False  False  False    False
...        ...     ...    ...    ...      ...
1995     False   False  False  False    False
1996     False   False  False  False    False
1997     False   False  False  False    False
1998     False   False  False  False    False
1999     False   False  False  False    False

[2000 rows x 5 columns]

In [160]:
base_credit.isnull().sum()

clientid    0
income      0
age         3
loan        0
default     0
dtype: int64

In [161]:
base_credit.loc[pd.isnull(base_credit['age'])]

    clientid        income  age         loan  default
28        29  59417.805406  NaN  2082.625938        0
30        31  48528.852796  NaN  6155.784670        0
31        32  23526.302555  NaN  2862.010139        0

In [162]:
mean = base_credit['age'][base_credit['age'] > 0].mean()
base_credit.loc[base_credit['age'] < 0, 'age'] = mean
base_credit.head(27)

    clientid        income        age         loan  default
0          1  66155.925095  59.017015  8106.532131        0
1          2  34415.153966  48.117153  6564.745018        0
2          3  57317.170063  63.108049  8020.953296        0
3          4  42709.534201  45.751972  6103.642260        0
4          5  66952.688845  18.584336  8770.099235        1
5          6  24904.064140  57.471607    15.498598        0
6          7  48430.359613  26.809132  5722.581981        0
7          8  24500.141984  32.897548  2971.003310        1
8          9  40654.892537  55.496853  4755.825280        0
9         10  25075.872771  39.776378  1409.230371        0
10        11  64131.415372  25.679575  4351.028971        0
11        12  59436.847123  60.471936  9254.244538        0
12        13  61050.346079  26.355044  5893.264659        0
13        14  27267.995458  61.576776  4759.787581        0
14        15  63061.960174  39.201553  1850.369377        0
15        16  50501.726689  40.927700  3977.287432        0
16        17  43548.654711  39.574530  3935.544453        0
17        18  43378.175194  60.848318  3277.737553        0
18        19  20542.365073  61.690571  3157.442290        0
19        20  58887.357549  26.076093  4965.516066        0
20        21  23000.784002  31.761354  1148.118057        0
21        22  32197.620701  40.927700  4244.057136        0
22        23  23329.319414  48.576975   222.622299        0
23        24  27845.800894  51.970624  4959.921226        0
24        25  65301.984029  48.840922  5465.267886        0
25        26  47451.630123  27.031741  5361.282716        0
26        27  63287.038908  40.927700  9595.286289        0

In [163]:
base_credit['age'].fillna(base_credit['age'].mean(), inplace=True)

In [164]:
base_credit.loc[pd.isnull(base_credit['age'])]
base_credit.iloc[28:32]

    clientid        income        age          loan  default
28        29  59417.805406  40.927700   2082.625938        0
29        30  58842.891308  54.510948  10871.186790        0
30        31  48528.852796  40.927700   6155.784670        0
31        32  23526.302555  40.927700   2862.010139        0

In [165]:
base_credit.loc[base_credit['clientid'].isin([28, 30, 31])]

    clientid        income        age          loan  default
27        28  45727.459870  55.839922   6376.822949        0
29        30  58842.891308  54.510948  10871.186790        0
30        31  48528.852796  40.927700   6155.784670        0

In [166]:
X_credit_treinamento, X_credit_teste, Y_credit_treinamento, Y_credit_teste = train_test_split(X_credit, Y_credit, test_size=0.25, random_state=0)

In [167]:
X_credit_treinamento.shape

(1500, 3)

In [168]:
Y_credit_treinamento.shape

(1500,)

In [169]:
X_credit_teste.shape, Y_credit_teste.shape

((500, 3), (500,))

Census

In [170]:
X_census_treinamento,  X_census_teste, Y_census_treinamento, Y_census_teste = train_test_split(X_census, Y_census, test_size=0.15, random_state=0)

In [171]:
X_census_treinamento.shape, Y_census_treinamento.shape

((27676, 108), (27676,))

In [172]:
X_census_teste.shape, Y_census_teste.shape

((4885, 108), (4885,))

Salvar as Bases de Dados

In [173]:
import pickle

In [174]:
with open("credit.pkl", mode='wb') as f:
    pickle.dump([X_credit_treinamento, Y_credit_treinamento, X_credit_teste, Y_credit_teste], f)

In [175]:
with open("census.pkl", mode='wb') as f:
    pickle.dump([X_census_treinamento, Y_census_treinamento, X_census_teste, Y_credit_teste], f)