In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
base_credit = pd.read_csv("../Machine Learning e Data Science com Python de A à Z/Bases de dados/credit_data.csv")

In [3]:
base_credit.loc[base_credit['clientid'].isin([29, 31, 32])]

    clientid        income  age         loan  default
28        29  59417.805406  NaN  2082.625938        0
30        31  48528.852796  NaN  6155.784670        0
31        32  23526.302555  NaN  2862.010139        0

In [4]:
x_credit = base_credit.iloc[:, 1:4].values #O iloc permite selecionar linhas e colunas do dataframe, o primeiro arg indica as linhas, .. significa todas, e o segundo as colunas. O atributo 0 não foi escolhido pois não influencia

In [5]:
x_credit

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [6]:
type(x_credit)

numpy.ndarray

In [7]:
y_credit = base_credit.iloc[:, 4].values

In [8]:
y_credit

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [9]:
type(y_credit)

numpy.ndarray