In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
base_credit = pd.read_csv("../Machine Learning e Data Science com Python de A à Z/Bases de dados/credit_data.csv")

In [3]:
base_credit.loc[base_credit['clientid'].isin([29, 31, 32])]

    clientid        income  age         loan  default
28        29  59417.805406  NaN  2082.625938        0
30        31  48528.852796  NaN  6155.784670        0
31        32  23526.302555  NaN  2862.010139        0

In [16]:
x_credit

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

In [19]:
X_credit = base_credit.iloc[:, 1:4].values

In [5]:
y_credit = base_credit.iloc[:, 4].values

In [33]:
X_credit[:, 0].min(), min(X_credit[:, 1]), X_credit[:, 2].min() #Como o tratamento de valores inconsistentes não foi feito aqui nessa base para as idades, temos um valor negativo, os dados deveriam ter sido tratados previamente para evitar

(20014.4894700497, -52.4232799196616, 1.37762959325451)

In [34]:
X_credit[:, 0].max(), max(X_credit[:, 1]), X_credit[:, 2].max()

(69995.6855783239, 63.971795841120205, 13766.0512393337)

In [ ]:
"""Começaremos agora a utilizar os cálculos de padronização 
e normalização:
    Padronização: Essa é mais recomendada de sse utilizar quando temos outliers(Valores muito fora do padrão
    Normalização: """

In [42]:
from sklearn.preprocessing import StandardScaler   #Biblioteca padrão para aprendizagem de máquina no pythonStandardScaler

scaler_credit = StandardScaler()
X_credit = scaler_credit.fit_transform(X_credit)

In [44]:
X_credit[:, 0].min(), min(X_credit[:, 1]), X_credit[:, 2].min()
# Apesar de termos aqui valores negativos não há problema, queremos que eles estejam na mesma escala e agora estão

(-1.7676158019964077, -6.8446108009002415, -1.4592791099462408)

In [45]:
X_credit[:, 0].max(), max(X_credit[:, 1]), X_credit[:, 2].max()

(1.7220222385319197, 1.700619497593639, 3.0616609141708273)